<form  [formGroup]="myForm" (ngSubmit)="submitForm()">
    <label  for="name">Nome:</label>
    <input  formControlName="name" id="name" type="text">
    <label for="surname">Cognome:</label>
    <input formControlName="surname" id="surname" type="text">
    <label for="email">E-mail:</label>
    <input formControlName="email" id="email" type="text">
    <label for="dateOfBirth">Data di nascita</label>
    <input formControlName="dateOfBirth" id="dateOfBirth" type="date">
    <label for="placeOfBirth">Luogo di nascita</label>
    <input formControlName="placeOfBirth" id="placeOfBirth" type="text">
        <label for="taxCode">Codice Fiscale</label>
        <input formControlName="taxCode" id="taxCode" type="text">
    <div class="add-address">
        <span>Indirizzi:</span>
        <button type="button" (click)="addAddress()">aggiungi indirizzo</button>
    </div>
    <div formArrayName="addresses">
        @for (address of addresses.controls;let i = $index ;track $index){
            <div [formGroupName]="i">
                <label for="street">Indirizzo</label>
                <input type="text" formControlName="street" id="street">
                <label for="city">Citta</label>
                <input type="text" formControlName="city" id="city">
                <label for="code">Codice Postale</label>
                <input type="text" formControlName="code" id="code">
                <button type="button" (click)="removeAddress(i)"></button>
            </div>
        }
    </div>
    <button type="submit">Invia</button>
    
    <!-- <button [disabled]="!myForm.valid" type="submit">Invia</button> -->
</form>
